[Desktop Entry]
Name=Setzer
Exec=setzer %F
Type=Application
Icon=@ICON@
Categories=GNOME;GTK;Science;Office;
Keywords=latex;bibtex;editor;
MimeType=application/vdn.setzer.session.stzs;text/x-tex;text/x-bibtex;
